<h1>Here are all the workouts posted on the Crossfit Magnus website:</h1>

<ul>
  <% @workouts.each do |workout| %>
    <li>
      <h4>Date:</h4> <%= workout.date %>
      <h4>Workout:</h4> <%= simple_format(workout.body) %>
      <h4>Notes: <%= link_to "Edit", edit_workout_path(workout), class: "btn btn-sm btn-default", id: "edit_notes_link", remote: true %></h4>
      <%= render 'notes', workout: workout %>
      <hr>
    </li>
  <% end %>
</ul>
