<h1>Here are all the workouts posted on Crossfit Magnus' website:</h1>

<ul>
  <% @workouts.each do |workout| %>
    <li>
      <h4>Date:</h4> <%= workout.date %>
      <h4>Workout:</h4> <%= simple_format(workout.workout) %>
      <h4>Notes:</h4> <%= workout.notes %>
      <hr>
    </li>
  <% end %>
</ul>
