</header>



<div id="page-content" class="row-fluid">


<div id="region-bs-main-and-pre" class="span9">


<div class="row-fluid" id="yui_3_15_0_3_1445544180031_5259">
                <section id="region-main" class="span8 pull-right">


<div role="main" id="yui_3_15_0_3_1445544180031_5258">

<span id="maincontent">
</span>
<table class="generaltable generalbox quizreviewsummary"><tbody>
<tr>
<th class="cell" scope="row">Started on
</th>
<td class="cell">Thursday, October 22, 2015, 1:02 PM
</td>
</tr>
<tr>
<th class="cell" scope="row">State
</th>
<td class="cell">Finished
</td>
</tr>
<tr>
<th class="cell" scope="row">Completed on
</th>
<td class="cell">Thursday, October 22, 2015, 1:02 PM
</td>
</tr>
<tr>
<th class="cell" scope="row">Time taken
</th>
<td class="cell">20 secs
</td>
</tr>
<tr>
<th class="cell" scope="row">Marks
</th>
<td class="cell">0.00/560.00
</td>
</tr>
<tr>
<th class="cell" scope="row">Grade
</th>
<td class="cell"><b>0.00</b> out of 10.00 (<b>0</b>%)
</td>
</tr></tbody>
</table>

<form action="./VESAP3_files/VESAP3.html" method="post" class="questionflagsaveform" autocomplete="off" id="yui_3_15_0_3_1445544180031_5249">

<div id="yui_3_15_0_3_1445544180031_5257">

<div id="q18" class="que multichoice interactive notanswered">

<div class="info"><h3 class="no">Question

<span class="qno">1
</span></h3>

<div class="state">Not answered
</div>

<div class="grade">Points out of 1.00
</div>

<div class="questionflag editable" aria-atomic="true" aria-relevant="text" aria-live="assertive" id="yui_3_15_0_3_1445544180031_173">
<input type="hidden" name="q20803:18_:flagged" value="0">
<input type="hidden" value="qaid=910902&amp;qubaid=20803&amp;qid=4627&amp;slot=18&amp;checksum=4aa1cb67f0b95f52358a91f30dbcb425&amp;sesskey=yaTBuJMiS2&amp;newstate=" class="questionflagpostdata">

<input type="hidden" class="questionflagvalue" id="q20803:18_:flaggedcheckbox" name="q20803:18_:flagged" value="0">
<input type="image" class="questionflagimage" src="./VESAP3_files/unflagged" title="Flag this question for future reference" alt="Not flagged">

<span class="questionflagtext" title="Flag this question for future reference">Flag question
</span>
</div>

<div class="editquestion"><a href="http://svsvesap.com/question/question.php?cmid=78&returnurl=%2Fmod%2Fquiz%2Freview.php%3Fattempt%3D18301%26showall%3D1%23&id=4627"><img class="iconsmall" alt="Edit" title="Edit" src="./VESAP3_files/edit">Edit question</a>
</div>
</div>

<div class="content" id="yui_3_15_0_3_1445544180031_5256">

<div class="formulation"><h4 class="accesshide">Question stem</h4>
<input type="hidden" name="q20803:18_:sequencecheck" value="2">

<div class="qtext">

<p>A 70-year-old man presents with a&nbsp;4-week history of progressive abdominal and back pain. In addition, he has lost his appetite and lacks energy. He had an uncomplicated endovascular abdominal aortic aneurysm repair (EVAR) 18 months ago. He is afebrile and hemodynamically stable but has mild upper abdominal tenderness. His sedimentation rate is elevated at 45. A representative cut of his CT scan is shown below. Regarding this clinical scenario, which of the following statements is the most accurate?</p>


<p><a href="./VESAP3_files/20728.jpg" target="images"><img style="margin: 10px;" src="./VESAP3_files/20728.jpg" alt="Img" width="67" height="100"></a></p>
</div>

<div class="ablock">

<div class="prompt">Select one:
</div>

<div class="answer">

<div class="r0">
<input type="radio" name="q20803:18_answer" disabled="disabled" value="0" id="q20803:18_answer0">
<label for="q20803:18_answer0">a. the duodenum can usually be repaired primarily
</label>
</div>


<div class="r1">
<input type="radio" name="q20803:18_answer" disabled="disabled" value="1" id="q20803:18_answer1">
<label for="q20803:18_answer1">b. aortoenteric erosion is excluded by the history of EVAR
</label>
</div>


<div class="r0">
<input type="radio" name="q20803:18_answer" disabled="disabled" value="2" id="q20803:18_answer2">
<label for="q20803:18_answer2">c. broad spectrum antibiotics are curative
</label>
</div>


<div class="r1">
<input type="radio" name="q20803:18_answer" disabled="disabled" value="3" id="q20803:18_answer3">
<label for="q20803:18_answer3">d. this condition can usually be diagnosed by esophagogastroduodenoscopy
</label>
</div>


<div class="r0">
<input type="radio" name="q20803:18_answer" disabled="disabled" value="4" id="q20803:18_answer4">
<label for="q20803:18_answer4">e. the endograft can usually be preserved
</label>
</div>

</div>
</div>

<div class="im-controls">
<input type="submit" id="q20803:18_-submit" name="q20803:18_-submit" value="Check" class="submit btn" disabled="disabled">
</div>
</div>

<div class="outcome" id="yui_3_15_0_3_1445544180031_5255"><h4 class="accesshide">Feedback</h4>

<div class="feedback" id="yui_3_15_0_3_1445544180031_5254">

<div class="generalfeedback" id="yui_3_15_0_3_1445544180031_5253">

<p id="yui_3_15_0_3_1445544180031_5252">The CT scan shown demonstrates air within the aneurysm sac which, this far out from his EVAR, is indicative of infection with a gas-forming organism or a communication with the gastrointestinal tract. While it is not uncommon to see air in the aneurysm sac within the first few weeks of EVAR, typically being introduced by the endograft delivery system, 18 months post-procedure is well beyond expected. This man likely has an aortoenteric erosion or fistula following EVAR. There have been numerous reports of both endograft infections and graft enteric erosions over the past several years. Esophagogastroduodenoscopy is frequently non-diagnostic because of the inability to adequately examine the fourth portion of the duodenum. A variety of mechanisms have been offered to explain the development of graft infection after EVAR. In some cases, it appears that pre-existent inflammation between the aortic aneurysm and the duodenum may have been present, though unsuspected, at the time of the initial aneurysm repair. In other cases there is evidence of erosion of the graft through the aortic wall into the duodenum. Alternatively, the endograft may be contaminated at the time of implantation, or become so as a result of a bacteremic episode from a remote source such as an infected central line or urinary tract infection. The principles of management include removal of the infected graft, meticulous repair of the bowel, and revascularization. In the photograph shown below, taken from the left side of the table, the duodenum is retracted by the surgeon. The duodenotomy has been temporarily closed to prevent additional contamination. The tip of the suction catheter is inserted into the erosion in the anterior wall of the aorta. Inadequate repair of the bowel injury is associated with a high likelihood of treatment failure. Many surgeons currently employ an in- situ reconstruction with Rifampin-bonded polyester, autogenous deep vein, or cryopreserved allograft, although the evidence supporting one technique over another is lacking. The mortality appears to be higher in patients with an aorto-enteric fistula compared&nbsp;to patients without bowel involvement. The bowel can usually be repaired primarily but it is critical to adequately mobilize the duodenum and debride devitalized tissue before attempting closure. Hasty attempts to close the bowel without adequate visualization of the entire circumference of the enterotomy can lead to early leak-which carries an excessive risk of persistent, and usually, fatal infection.</p>


<p><img src="./VESAP3_files/AssetProxy_276.jpg" alt="" width="150" height="112">
<br>
<br></p>
<h3>References:</h3>


<p><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Back%20MR.%20Graft%20infections.%20In:%20Rutherford%20RB,%20ed.%20Vascular%20Surgery%207th%20Edition.%20Philadelphia,%20PA:%20Saunders%20Elsevier;%202010:643-662" target="_blank">Back MR. Graft infections. In: Rutherford RB, ed. Vascular Surgery 7th Edition. Philadelphia, PA: Saunders Elsevier 2010:643-62.</a>
<br>
<br><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Antoniou%20GA,%20Koutsias%20S,%20Antoniou%20SA%20et%20al.%20Outcome%20after%20endovascular%20stent%20graft%20repair%20of%20aortoenteric%20fistula:%20A%20systematic%20review.%20J%20Vasc%20Surg;%202009;%2049%20(3):782-9" target="_blank">Antoniou GA, Koutsias S, Antoniou SA, Georgiakakis A, Lazarides MK, Giannoukas AD. Outcome after endovascular stent graft repair of aortoenteric fistula: A systematic review. J Vasc Surg 2009; 49 (3):782-9.</a>
<br>
<br><a href="http://www.ncbi.nlm.nih.gov/pubmed?term=Laser%20A,%20Baker%20N,%20Rectenwald%20J,%20et%20al.%20Graft%20infection%20after%20endovascular%20abdominal%20aortic%20aneurysm%20repair.%20J%20Vasc%20Surg;%202011;%2053%20(4):Online" target="_blank">Laser A, Baker N, Rectenwald J, Eliason JL, Criado-Pallares E, Upchurch GR Jr. Graft infection after endovascular abdominal aortic aneurysm repair. J Vasc Surg 2011; 53 (4):Online</a>.</p>


<p>QID: 30019</p>
</div>

<div class="rightanswer">The correct answer is: the duodenum can usually be repaired primarily
</div>
</div>
</div>
</div>
</div>
